@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  @include flexbox(center);
  @media (max-width: 800px) {
    display: block;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  align-items: end;
  @media (max-width: 800px) {
    display: block;
  }
}

.imgbox {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 800px) {
    display: none;
  }
}

.formblock {
  padding-top: 45px;
  @media (max-width: 800px) {
    padding-top: 10px;
  }
}

.field {
  margin-bottom: 30px;
}

.btnbox {
  margin-top: 50px;
  @include flexbox(center);
}

.btn {
  height: 40px;
  padding: 0 55px;
  @include button($black, $white);
  &:disabled {
    background-color: darken($white, 15%);
    cursor: default;
  }
}
