@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  background-color: $white;
  padding: 40px 0px;
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 190px;
  row-gap: 20px;
}

.notFound {
  @include flexbox(center);
  height: 400px;
  font-weight: 300;
  font-size: 32px;
}
