@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  margin-top: 25px;
  @include flexbox(center);
}

.item {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  &.dark {
    background-color: $black;
    &.active {
      background-color: $blue;
      transform: scale(1.2);
    }
  }
  &.light {
    background-color: $white;
    &.active {
      background-color: $black;
      transform: scale(1.2);
    }
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
