@import '../../../scss/mixins';
@import '../../../scss/variables';

.root {
  max-width: 220px;
  position: relative;
}

.label {
  @include formLabel;
}

.input {
  background-color: $white;
  padding: 0 8px 0 15px;
  color: $grey;
  font-size: 14px;
  border-radius: 5px;
  height: 35px;
}

.error {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  color: $white;
  top: 110%;
}
