@import '../../../scss/mixins';
@import '../../../scss/variables';

.root {
  position: relative;
  display: block;
}

.label {
  @include formLabel;
}

.input {
  background-color: $white;
  padding: 0 8px 0 15px;
  color: $grey;
  font-size: 14px;
  border-radius: 5px;
  height: 35px;
  @media (max-width: 800px) {
    width: 100%;
  }
}

.error {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  color: $white;
  margin-top: 10px;
  top: 100%;
}
