@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  width: 100%;
  padding: 25px 0;
  background-color: $white;

  @media (max-width: 600px) {
    padding: 20px 0;
  }
}

.inner {
  @include flexbox(space-between);
}

.logo {
  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
    width: 20%;
  }
}

.personallogo {
  stroke: $grey;
  &.active {
    stroke: #0075ff;
  }
}
