@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  @include flexbox(space-between);
  width: 460px;

  @media (max-width: 769px) {
    width: 400px;
  }
  @media (max-width: 600px) {
    width: 285px;
  }
  @media (max-width: 426px) {
    width: 200px;
  }
}

.link {
  @include hoverlink($blue, 25px);
  font-family: 'Cairo', sans-serif;
  line-height: 199.4%;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.09em;

  @media (max-width: 600px) {
    font-size: 13px;
  }
  @media (max-width: 426px) {
    font-size: 12px;
  }
}
