@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  padding: 270px 0;
  background-color: $white;
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 750px;
  img {
    width: 100%;
    height: 100%;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.39);
}

.titleblock {
  color: $white;
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  width: 50%;
  z-index: 2;
  h3 {
    font-size: 20px;
    font-weight: 500;
    span {
      font-family: 'Arial', sans-serif;
    }
  }
  h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 40px 0;
  }
}

.btn {
  @include button($white, $blue);
  padding: 15px 20px;
  font-family: 'Kodchasan', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}
