@import './reset.scss';
@import './variables';

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: $black;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 5px;
}
