@import '../../scss/mixins';
@import '../../scss/variables';

.root {
  @include flexbox(flex-start);
}

.arrowBox {
  cursor: pointer;
  height: 100%;
  &.none {
    display: none;
  }
}

.arrow {
  stroke: $white;
  &:hover {
    stroke: darken($white, 7%);
  }
}

.left {
  transform: rotate(180deg);
  margin-right: 20px;

  @media (max-width: 600px) {
    margin: 0;
  }
}

.right {
  margin-left: 20px;
  @media (max-width: 600px) {
    margin: 0;
  }
}
